.DS_Store
.coverage
.env
.ipynb_checkpoints/
.idea/
.pytest_cache/
.ruff_cache/
.venv/
.vscode/
__pycache__/
*.egg-info/
*.joblib
*.py[cod]
htmlcov/

data/raw/*
data/processed/*
!data/raw/.gitkeep
!data/processed/.gitkeep

outputs/models/*
!outputs/models/.gitkeep
